

h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif ;
    text-shadow: 2px 2px royalblue;


}

li{

    color: teal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: georgian;
}

#Navigation li{

    display: inline;
    
    background-color: teal;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    text-decoration: red;
    color: white;
}

footer{
    font-style: italic;

}

body{

    background-color: skyblue;
}

iframe{
    padding: 20px 20px 20px 20px teal;
}

video{
    padding: 20px 20px 20px 20px teal;
}

img{
    padding: 20px 20px 20px 20px teal;
}

div{
    background-color: tomato;
    color: white;

    width: width="300";
    height: height="490";
    padding: 10px 10px 40px 10px;
    border: 5px solid teal;
    margin: 10px 10px 40px 10px;
}

.hvr-rectangle-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #2098D1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  