

h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif ;
    text-shadow: 2px 2px royalblue;


}

li{

    color: teal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: georgian;
}

#Navigation{

    display: inline;
   
    
    background-color: teal;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    text-decoration: red;
    color: white;
    
    
}

footer{
    font-style: italic;

}

body{

    background-color: skyblue;
}

iframe{
    border: 10px 10px 10px 10px blue;
    padding: 20px 20px 20px 20px teal;
    align-content: space-around;
}

video{
    border: 10px 10px 10px 10px blue;
    padding: 20px 20px 20px 20px teal;
    
}

img{
    border: 10px 10px 10px 10px blue;
    padding: 20px 20px 20px 20px teal;
}

#videobox{
    background-color: tomato;
    color: white;

    width: width="300";
    
    padding: 10px;
    border: 20px solid teal;
    margin: 10px;
}
audio{

    background-color: black;
}

#navi{

    align-content: center;
}