

h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif ;
    text-shadow: 2px 2px royalblue;


}

li{

    color: teal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: georgian;
}

#Navigation li{

    display: inline;
    color: white;
    background-color: teal;
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    text-decoration: red;
}

footer{
    font-style: italic;

}

body{

    background-color: skyblue;
}

iframe{
    padding: 20px 20px 20px 20px teal;
}

video{
    padding: 20px 20px 20px 20px teal;
}

img{
    padding: 20px 20px 20px 20px teal;
}

div{
    background-color: tomato;
    color: white;

    width: width="871";
    height: height="490";
    padding: 10px 10px 40px 10px;
    border: 5px solid teal;
    margin: 10px 10px 40px 10px;
}