.article{

    display: inline-block;
    font-family: sans-serif;
    padding: 4px;
    
    background-color: black;
    margin-bottom: 2px;
    
}



.bildtext{

    text-align: center;
    background-color: red;
    padding-top: 20px;
    
}

.layout{

    text-align: center;
}